.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;


}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Banner-logo {
  height: 14vmin;
}

.Nav-link {
  text-decoration: none;
  color: rgb(35, 185, 245);
  font-family: "Lucida Console", "Courier New", monospace;

}

.Intro-gif {
  height: 550px;
}

.Main-description {
  font-family: Arial, Helvetica, sans-serif;
}

.Sub-description {
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
